<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stay Thurste my Friends</title>
    <link rel="stylesheet" href="../main.css">
  </head>
  <body class="container">
    <div class="main">
      <div class="text">
        <h3 class="title">THURSTE</h3>
        <p>It's time to take the bull by the horns just tell me where to start</p>
      </div>
      <div class="zip_code">
        <form>
          Zip code: <input type="text" value="96815">
        </form>
      </div>
    </div>
  </body>
</html>
